.mainnavig {
    background-color: lightblue;
    overflow: hidden;
}

.mainnavig li {
    float: left;
    color: transparent;
    text-align: center;
    padding: 15px 15px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
}

.mainnavig li:hover {
    background-color: lightsalmon;
    color: transparent;
}